<p-card>
    <p-fileUpload name="userPhoto" accept="image/*" [maxFileSize]="10000000" (onSelect)="selectFile($event)">
        <ng-template let-file pTemplate="file">
            <img [src]="userService.selectedUser.pic" width="50" height="50">
        </ng-template>
    </p-fileUpload>
    <ng-template pTemplate="footer">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div></div>
            <p-button label="Next" (click)="goToNextPage()" ></p-button>
        </div>
    </ng-template>
</p-card>
