<p-table [value]="userService.users">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr (click)="selectUser(user)" [style.backgroundColor]="userService.selectedUser == user ? 'lightblue' : ''">
            <td *ngFor="let col of cols">
                {{col.field == 'date' ? user[col.field].toDateString() : user[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>